{{>header}}
<h1>Welcome {{nombre}}</h1>

<div class="vertical-menu">
  <a href="#" class="active">Home</a>
  <a href="listar">Listar cursos</a>
  <a href="crear">Crear Curso</a>
  <a href="inscribirACurso">Inscribirse a un curso</a>
  <a href="#">Link 4</a>
</div>

{{>footer}}
